{% extends 'career/base.html' %}
{% block content %}
<div class="col-md-8">

    {% if form.non_field_errors %}
        <div class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ form.non_field_errors }}
        </div>
    {% endif %}
<form class="form-validation" action="" method="post">
        {% csrf_token %}
     <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">User</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.user}} {{form.user.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Position</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.position}} {{form.position.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Responsibility</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.responsibility}} {{form.responsibility.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Current working</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.current_working}} {{form.current_working.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Start Month</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.start_month}} {{form.start_month.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Start Year</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.start_year}} {{form.start_year.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">End Month</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.end_month}} {{form.end_month.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">End Year</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.end_year}} {{form.end_year.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Company Type</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.company_type}} {{form.company_type.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Company Name</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.company_name}} {{form.company_name.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-6">
                    <div class="field-label">Location</div>
            </div>
            <div class="col-md-6">
                    <div class="field-input">{{form.location}} {{form.location.errors }}</div>
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                    <div class="field-input"><input type="submit" name="Save" value="Save"></div>
            </div>
        </div>
</form>
</div>
{% endblock %}